{% extends 'users/base.html' %}
{% block title %}Completed Orders{% endblock %}
{% block content %}


{% for order in orders %}
<div class="jumbotron" >

    <h3>Order Id : {{ order.id }}</h3>
    <strong>Date Ordered : </strong>{{ order.date_ordered }}<br>
    <strong>File name: </strong>{{ order.file }}<br>
    <strong>customer name: </strong>{{ order.user.username }}<br>
    <strong>customer email: </strong>{{ order.user.email }}<br>
    <strong>No of copies : </strong>{{ order.no_of_copies }}<br>
    <strong>Print Color : </strong>
    {% if order.black_and_white %}
        BLACK and WHITE
    {% else %}
        COLOR
    {% endif %}
    <br>
    <strong>Amount Paid: </strong>{{ order.cost }}<br>
    <strong>Printing Status: </strong>{{ order.printing_status }}<br>
    

</div>
{% endfor %}

{% endblock %}