{% extends "users/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
      
      {% if user.is_authenticated %}
        <h1 class="display-4">Printing Portal</h1>
        <hr class="my-4">
        <p>Go ahead and place new orders or view your order history. </p>
        <a class="btn btn-primary btn-lg" href="{% url 'place_order' %}" role="button">Place Order</a>
        <a class="btn btn-primary btn-lg" href="{% url 'order_history' %}" role="button">Order History</a>
      {% else %}
        <h1 >Welcome to Printing Portal</h1>
        <hr class="my-4">
        <p>Go ahead register or sign in to print your documents quickly and safely.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register</a>
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign In</a>
      {% endif %}

    </p>
  </div>
{% endblock %}