{% extends "users/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is a printing portal</p>
    <hr class="my-4">
    <p>Go ahead sign in or register to print your documents</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign In</a>
    </p>
  </div>
{% endblock %}