{% extends 'users/base.html' %}
{% block title %}Recent Orders{% endblock %}
{% block content %}

<ol>
{% for order in orders %}
<li>
<ul>
    <li>file:{{ order.file }}</li>
    <li>customer name:{{ order.user.username }}</li>
    <li>customer email:{{ order.user.email }}</li>
    <li>print:{{ order.black_and_white }}</li>
    <li>Amount Paid{{ order.cost }}</li>
    <li>Date Ordered:{{ order.date_ordered }}</li>
    <li>printing status:{{ order.printing_status }}</li>
    <a class="btn btn-primary btn-lg" href="{% url 'download' order.id %}" role="button">Download File</a>
    <a class="btn btn-primary btn-lg" href="{% url 'status_change' order.id %}" role="button">Change Printing Status</a>
   
    <br>
</ul>
</li>

{% endfor %}
</ol>

{% endblock %}