.jumbotron {
    padding: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #d8d8d8;
    border-radius: 0.3rem;
    background: #d8d8d8; /* Old browsers */
}
   

  
  
 
  